{% extends "projects/project_base.html" %}

{% block title %}A.R.M Transport Kit{% endblock %}
{% block description %}ancillary - A.R.M. [Alternative Routes to Market] Transport Kit{% endblock %}

{% block product_name %}
    <div class="row justify-content-center">
      <div class="col-8 pb-4 pt-4">

        <p>
          <span class="headerTitle">Pleats Please<br><br></span>
          <span class="description-text">Pioneering Japanese fashion designer Issey Miyake founded his Tokyo-based design studio in 1970. Howevtes, made possible through the utilization of these patented knife-edge folds.<br><br>
          </span>
        </p>
      </div>
    </div>

{% endblock %}

{% block product_description %}
{% endblock %}


{% block product_media %}
    <div class="col-lg-12 col-md-8 col-sm-12 col-12 d-flex justify-content-center pb-5">

            <img src="static/placeholders/pleats01.jpg" class="img-fluid" alt="Responsive image">

    </div>
    <div class="col-lg-12 col-md-8 col-sm-12 col-12 d-flex justify-content-center pb-5">

            <img src="static/placeholders/pleats01.jpg" class=img-fluid" alt="Responsive image">

    </div>
    <div class="col-lg-12 col-md-8 col-sm-12 col-12 d-flex justify-content-center pb-5">

            <img src="static/placeholders/pleats01.jpg" class="img-fluid" alt="Responsive image">

    </div>
{% endblock %}
